USE [master]
GO
/****** Object:  Database [TaskManagementDb]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE DATABASE [TaskManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TaskManagementDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagementDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TaskManagementDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementDb]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[RelatedEntityType] [nvarchar](max) NULL,
	[RelatedEntityId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[Deadline] [datetime2](7) NULL,
	[AssignedToId] [uniqueidentifier] NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[TeamId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[Id] [uniqueidentifier] NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/22/2026 5:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Comments] ([Id], [Content], [TaskId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (N'a7d4fa66-fe2e-4b52-aba2-3aec94ea65ec', N'Repo is ready. Please review the README.', N'252f1fed-ee0c-41be-9d12-cfab588ecf87', N'7e0c7d21-586e-43d0-85d8-502cfe4f9776', CAST(N'2026-09-22T09:12:19.1526263' AS DateTime2), NULL)
INSERT [dbo].[Comments] ([Id], [Content], [TaskId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (N'e50b767d-bebe-450b-918d-7d7b9aaad29c', N'Fixed the Fee Optimizer Collection issue and validated the affected functionality. Tested the collection flow and verified that the changes are working as expected without impacting the existing workflow.', N'110943fc-5f87-4480-af3a-03e0acd649b4', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', CAST(N'2026-09-22T10:54:21.3200700' AS DateTime2), NULL)
GO
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [UserId], [IsRead], [RelatedEntityType], [RelatedEntityId], [CreatedAt], [UpdatedAt]) VALUES (N'8fe21a14-9fb9-4bdc-bcc4-01c7ec96aba6', N'New Task Assigned', N'You have been assigned a new task: Fix Collection Issues in Fee Optimizer', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', 1, N'Task', N'824f8ba0-6c40-4be1-8fad-bafdb2a1fc78', CAST(N'2026-09-22T10:52:48.0785692' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [UserId], [IsRead], [RelatedEntityType], [RelatedEntityId], [CreatedAt], [UpdatedAt]) VALUES (N'39e2e074-b7e4-4936-bd41-18ff7043a7f9', N'New Task Assigned', N'You have been assigned a new task: Fix Collection Issues in Fee Optimizer', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', 1, N'Task', N'110943fc-5f87-4480-af3a-03e0acd649b4', CAST(N'2026-09-22T10:53:26.7930953' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [UserId], [IsRead], [RelatedEntityType], [RelatedEntityId], [CreatedAt], [UpdatedAt]) VALUES (N'dbb57cb5-066e-4dbf-aa65-8091d16e8586', N'Task Status Updated', N'Task Implement JWT authentication status changed to Done', N'7e0c7d21-586e-43d0-85d8-502cfe4f9776', 0, N'Task', N'8aadc95a-c7b7-4c60-ab30-f10b878ad901', CAST(N'2026-09-22T11:50:01.2281295' AS DateTime2), NULL)
GO
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [Status], [Priority], [Deadline], [AssignedToId], [CreatedById], [TeamId], [CreatedAt], [UpdatedAt]) VALUES (N'976a9e4f-417b-4240-a222-2ec5015fe3ac', N'Fee Optimizer – Collection API Testing & Validation', N'Fee Optimizer – Collection API Testing & Validation', 2, 0, CAST(N'2026-09-23T00:00:00.0000000' AS DateTime2), N'd38d1d1a-d7b5-40d8-be5e-b16331f21ab2', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', N'34df446b-c7f2-43ab-8fcc-d3cfbe0babd5', CAST(N'2026-09-22T11:05:39.6912705' AS DateTime2), CAST(N'2026-09-22T11:06:02.2973110' AS DateTime2))
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [Status], [Priority], [Deadline], [AssignedToId], [CreatedById], [TeamId], [CreatedAt], [UpdatedAt]) VALUES (N'af55aef8-925b-4aca-a2df-96e1b5f6a7b2', N'Design login page UI', N'Create responsive login and register pages', 1, 1, CAST(N'2026-09-25T09:12:19.1050519' AS DateTime2), N'e0ba6b8a-0638-4bb5-90e9-cfd5fcbd11dd', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', N'15da4571-954a-43c7-a47f-502607df1985', CAST(N'2026-09-22T09:12:19.1050516' AS DateTime2), NULL)
GO
INSERT [dbo].[TeamMembers] ([Id], [TeamId], [UserId], [JoinedAt], [CreatedAt], [UpdatedAt]) VALUES (N'ed16ea3f-cd82-4263-b1b8-5d02cb609ecc', N'34df446b-c7f2-43ab-8fcc-d3cfbe0babd5', N'd38d1d1a-d7b5-40d8-be5e-b16331f21ab2', CAST(N'2026-09-22T11:01:21.2500808' AS DateTime2), CAST(N'2026-09-22T11:01:21.2500867' AS DateTime2), NULL)
INSERT [dbo].[TeamMembers] ([Id], [TeamId], [UserId], [JoinedAt], [CreatedAt], [UpdatedAt]) VALUES (N'afc10852-0f5f-46a8-8fb7-c35a6dd865a7', N'15da4571-954a-43c7-a47f-502607df1985', N'7e0c7d21-586e-43d0-85d8-502cfe4f9776', CAST(N'2026-09-22T09:12:19.0888477' AS DateTime2), CAST(N'2026-09-22T09:12:19.0888479' AS DateTime2), NULL)
INSERT [dbo].[TeamMembers] ([Id], [TeamId], [UserId], [JoinedAt], [CreatedAt], [UpdatedAt]) VALUES (N'b7bebb6b-dfc9-4d59-b093-c8f6cde9c2dd', N'34df446b-c7f2-43ab-8fcc-d3cfbe0babd5', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', CAST(N'2026-09-22T10:56:35.7250052' AS DateTime2), CAST(N'2026-09-22T10:56:35.7250078' AS DateTime2), NULL)
GO
INSERT [dbo].[Teams] ([Id], [Name], [Description], [CreatedById], [CreatedAt], [UpdatedAt]) VALUES (N'15da4571-954a-43c7-a47f-502607df1985', N'Development Team', N'Core development team for the product', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', CAST(N'2026-09-22T09:12:19.0658382' AS DateTime2), NULL)
INSERT [dbo].[Teams] ([Id], [Name], [Description], [CreatedById], [CreatedAt], [UpdatedAt]) VALUES (N'34df446b-c7f2-43ab-8fcc-d3cfbe0babd5', N'QA Team', N'Responsible for software quality assurance, functional testing, bug identification, regression testing, and validating new features before release.', N'371c23b6-5634-4b16-a94f-e0c7a0c731d2', CAST(N'2026-09-22T10:56:35.7242622' AS DateTime2), NULL)
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'7e0c7d21-586e-43d0-85d8-502cfe4f9776', N'Alice', N'Developer', N'alice@taskmgmt.com', N'9l/FCk96djX25AWnFSIKj1j0S0ycw2BtoXcwwJltXa4=', 2, 1, CAST(N'2026-09-22T09:12:18.9194310' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'd38d1d1a-d7b5-40d8-be5e-b16331f21ab2', N'Snehal', N'Haral', N'snehalharal21@gmail.com', N'+VA1RJ4CWGkz8AZi3JD6FtBV5Q9RtwLIXSxUdCADCX0=', 2, 1, CAST(N'2026-09-22T11:00:44.0658654' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'e0ba6b8a-0638-4bb5-90e9-cfd5fcbd11dd', N'Bob', N'Designer', N'bob@taskmgmt.com', N'9l/FCk96djX25AWnFSIKj1j0S0ycw2BtoXcwwJltXa4=', 2, 1, CAST(N'2026-09-22T09:12:18.9194441' AS DateTime2), NULL)
GO
/****** Object:  Index [IX_Comments_TaskId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_TaskId] ON [dbo].[Comments]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_AssignedToId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_AssignedToId] ON [dbo].[Tasks]
(
	[AssignedToId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_CreatedById]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_CreatedById] ON [dbo].[Tasks]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_TeamId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_TeamId] ON [dbo].[Tasks]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeamMembers_TeamId_UserId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TeamMembers_TeamId_UserId] ON [dbo].[TeamMembers]
(
	[TeamId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeamMembers_UserId]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeamMembers_UserId] ON [dbo].[TeamMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Teams_CreatedById]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Teams_CreatedById] ON [dbo].[Teams]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 9/22/2026 5:56:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Tasks_TaskId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Teams_TeamId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users_AssignedToId] FOREIGN KEY([AssignedToId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users_AssignedToId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users_CreatedById]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Teams_TeamId]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Users_UserId]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Users_CreatedById]
GO
USE [master]
GO
